[submodule "nrf-mpsl-sys/third_party/arm/CMSIS_5"]
	path = nrf-mpsl-sys/third_party/arm/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "nrf-mpsl-sys/third_party/nordic/nrfx"]
	path = nrf-mpsl-sys/third_party/nordic/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "nrf-mpsl-sys/third_party/nordic/nrfxlib"]
	path = nrf-mpsl-sys/third_party/nordic/nrfxlib
	url = https://github.com/nrfconnect/sdk-nrfxlib.git
	branch = "v2.7-branch"
